body {
  margin: 0px;

  color: #f3e3c1;
  background-image: url("/img/dark-noise.png");
  font-size: 18px;
  font-family: 'Source Sans Pro', Verdana, 'sans-serif';
  font-weight: 300;
  text-decoration: bold;
}

.hidden {
  display: none;
}

a {
  color: #253657;
}

a:visited {
  color: #cb5538;
}

#container {
  margin-top: 8px;
}

#left {
  text-align: center;
}

#right {
  text-align: right;
}

#anaglyph {
  position: absolute;
  top: 8px;
  text-align: center;
}

#ui {
  margin-top: 1em;
  text-align: center;
}

#mode-select {
  position: relative;
  top: -1px;
}

.anaglyph-ui {
  text-align: center;
  margin-top: 0.5em;
}

#anaglyph-slider-label {
  margin-left: 1em;
}

#anaglyph-slider {
  width: 250px;
  position: relative;
  top: 3px;
}

#footer {
  width: 532px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 2em;
  padding-top: 1em;
  margin-bottom: 3em;

  border-top: 1px solid #f3e3c1;
  text-align: center;
}
